<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="images/logo-fav3.png"/>
    <title>Pollock Voting</title>
   </head>
  <body>

  </body>
</html>
